# Ignore .env files
.env

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment directories
venv/
.env/

# Ignore IDE/editor specific files
.vscode/
.idea/
*.swp

# Ignore other files
.DS_Store
*.log
